@mixin position(
  $pos: absolute,
  $top: auto,
  $right: auto,
  $bottom: auto,
  $left: auto,
  $zIndex: 1
) {
  position: $pos;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $zIndex;
}
